$white: #ffffff;
$black: #000000;

$gold100: #B68A35;
$gold200: #8F6D2A;
$gold300: #BF9E66;
$gold400: #F8F4EB;

$coral: #DE3030;
$red: #EC1515;
$blue700: #8e959d;

$gray100: rgba($black, 0.85);
$gray200: rgba($black, 0.65);
$gray300: rgba($black, 0.4);
$gray400: #C6C6C6;
$gray500: #D9D9D9;
$gray600: #EFEFEF;
$gray700: #FAFAFA;
$gray800: rgba($black, 0.2);
$gray900: #373737;