@import 'colors.scss';

.fz30 {
  font-size: 30px;
}
.fz24 {
  font-size: 24px;
}
.fz18 {
  font-size: 18px;
}
.fz16 {
  font-size: 16px;
}
.fz14 {
  font-size: 14px;
}
.fz12 {
  font-size: 12px;
}


.fw700 {
  font-weight: 700;
}

.lh12 {
  line-height: 1.2;
}
.lh14 {
  line-height: 1.4;
}
.lh15 {
  line-height: 1.5;
}
.lh16 {
  line-height: 1.6;
}


.c-white {
  color: $white
}
.c-red {
  color: $red
}
.c-gray100 {
  color: $gray100
}
.c-gray200 {
  color: $gray200
}
.c-gray300 {
  color: $gray300
}
.c-gray400 {
  color: $gray400
}
.c-gray500 {
  color: $gray500
}
.c-gray600 {
  color: $gray600
}
.c-gray700 {
  color: $gray700
}

.c-gold100 {
  color: $gold100
}
.c-gold200 {
  color: $gold200
}
.c-gold300 {
  color: $gold300
}
.c-gold400 {
  color: $gold400
}